body {
	color: black;
background-color: #E0E0E0;
}

p {
text-align: justify;
}

a, a:link, a:visited, a:active {
color: #666584;
}

/* Középső hasáb */
#container {
width: 600px;
margin: auto;
background-color: #5C6B7B;
padding: 0 20px 0 20px;
}

/* Fejléc */
#header img {
	display: block;
    padding: 10px;

}

#header {
	margin-bottom: 10px;
}

/* Navigációs sáv */
#nav {
padding-bottom: 10px;
	width: 600px;
    background-color:#CDDBEB;
}

#nav ul {
    overflow: none;
    list-style: none;
    margin: 0;
}

#nav li {
    float: left;
    width: 130px;
    text-align: center;
}

#nav a {
	display: block;
	text-decoration: none;
	padding: 0.5em 0;
	font-weight: bold;
}

#nav a:hover {
 background-color: #B1B7DF;
}

/* Tartalom */
#content {
	padding:  10px 10px 10px 10px;
background-color: white;
margin-bottom: 10px;
}
}

/*Lábléc  */
#footer {
	padding: 10px;
background-color: #CDDBEB;
}
}

/* További stílusok */
.center {
	text-align: left;
}

.jobbra {
float: right;
}

.active {
background-color: white;
}

img {
	padding-left: 10px;
}

.aimg {
	margin: auto;
}